body {
  color: #555;
  background-color: #f8f8f8;
}

.search-results {
  width: 100%;
}

th, td {
  border-style: solid;
  border-width: 1px;
  border-color: #888;
}
td {
  padding: 5px;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.search-field {
  width: 40em;
}

.next {
  float: right;
}

#wrapper {
  max-width: 1280px;
  margin: auto;
}
